.act-alert-global {
	align-items: center;
	background-color: $act-colour__purple;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: map-get($act-space, "desktop-1");
	&__container {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: space-between;
		max-width: 100%;
		width: 100%;
	}
	&__content {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: $act-font-size__desktop-h6;
		min-height: map-get($act-space, "desktop-3");
		a {
			border-color: $act-colour__white;
			font-weight: $act-font-weight__regular;
		}
		span {
			font-weight: $act-font-weight__bold;
		}
	}
	&__success {
		background-color: $act-colour__green;
		border-color: $act-colour__white;
		color: $act-colour__white;
		a {
			&:hover {
				color: $act-colour__white;
			}
		}
		i {
			color: $act-colour__white;
		}
	}
	&__warning {
		background-color: $act-colour__yellow;
		color: $act-colour__black;
		a {
			border-color: $act-colour__black;
			&:hover {
				border-color: $act-colour__black;
				color: $act-colour__black;
			}
		}
		i {
			color: $act-colour__black;
		}
	}
	&__error {
		background-color: $act-colour__red;
		color: $act-colour__white;
		a {
			&:hover {
				color: $act-colour__white;
			}
		}
		i {
			color: $act-colour__white;
		}
	}
	&__no-icon {
		i {
			display: none;
		}
	}
	&__icon-left {
		i {
			display: flex;
			height: map-get($act-space, "desktop-3");
			margin-right: map-get($act-space, "desktop-1");
			width: map-get($act-space, "desktop-3");
		}
	}
	&__dismiss-false {
		i.act-alert-global__dismiss {
			display: none;
			height: map-get($act-space, "desktop-3");
			margin-right: 0px;
			width: map-get($act-space, "desktop-3");
		}
	}
	&__dismiss-true {
		i.act-alert-global__dismiss {
			cursor: pointer;
			display: flex;
			height: map-get($act-space, "desktop-3");
			margin-right: 0px;
			width: map-get($act-space, "desktop-3");
		}
	}
}

.act-alert-inpage {
	background-color: $act-colour__purple;
	display: flex;
	flex-shrink: 1;
	padding: map-get($act-space, "desktop-1");
	&--success {
		background-color: $act-colour__green;
		color: $act-colour__white;
	}
	&--warning {
		background-color: $act-colour__yellow;
		color: $act-colour__black;
	}
	&--error {
		background-color: $act-colour__red;
		color: $act-colour__white;
	}
}
