.act-tooltip {
	box-shadow: inset 0 0 0 0 $act-colour__white, inset 0 0 0 0 $act-colour__white, inset 0 0 0 0 $act-colour__white, 0 2px 0 $act-colour__purple;
	color: $act-colour__purple;
	cursor: pointer;
	font-weight: $act-font-weight__semibold;
	display: inline-block;
	position: relative;
	&__text {
		background-color: $act-colour__light-purple;
		border-radius: 6px;
		bottom: 120%;
		color: $act-colour__black;
		font-size: $act-font-size__desktop-p-small;
		font-weight: $act-font-weight__semibold;
		left: 50%;
		line-height: $act-line-height__110;
		margin-left: -130px;
		padding: map-get($act-space, "desktop-1");
		position: absolute;
		text-align: center;
		visibility: hidden;
		width: 260px;
		z-index: 1;
		&:after {
			border-color: $act-colour__light-purple transparent transparent transparent;
			border-style: solid;
			border-width: 5px;
			content: " ";
			left: 50%;
			margin-left: -5px;
			position: absolute;
			top: 100%;
		}
	}
	&:hover &__text{
		visibility: visible;
	}

	&__demo {
		margin-top: map-get($act-space, "desktop-6");
		margin-left: map-get($act-space, "desktop-6");
	}
	&__demo &__text {
		// visibility: visible;
	}
}
