.act-flex {
	display: flex;
	justify-content: center;
	width: $act-page-full-width;
	&__container {
		padding: map-get($act-space, "desktop-3") map-get($act-space, "desktop-5");
		width: $act-page-full-width;
	}
	&__grid {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: $act-page-max-width;
		width: $act-page-full-width;
	}
	&__row {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
	}
	.act-col {
		flex-grow: 1;
		max-width: 25%;
		width: 25%;
		&-sm-3 {
			max-width: 25%;
			width: 25%;
		}
		&-sm-4 {
			max-width: 33.333%;
			width: 33.333%;
		}
		&-sm-6 {
			max-width: 50%;
			width: 50%;
		}
		&-sm-8 {
			max-width: 66.666%;
			width: 66.666%;
		}
		&-sm-9 {
			max-width: 75%;
			width: 75%;
		}
		.act-box {
			margin: calc(map-get($act-space, "desktop-3")/2);
		}
	}
}
