/* Typography */

h1,
.act-h1 {
	font-size: $act-font-size__desktop-h1;
	font-weight: $act-font-weight__bold;
	line-height: $act-line-height__120;
}
h2,
.act-h2 {
	font-size: $act-font-size__desktop-h2;
	font-weight: $act-font-weight__semibold;
}
h3,
.act-h3 {
	font-size: $act-font-size__desktop-h3;
	font-weight: $act-font-weight__semibold;
}
h4,
.act-h4 {
	font-size: $act-font-size__desktop-h4;
	font-weight: $act-font-weight__semibold;
}
h5,
.act-h5 {
	font-size: $act-font-size__desktop-h5;
	font-weight: $act-font-weight__semibold;
}
h6,
.act-h6 {
	font-size: $act-font-size__desktop-h6;
	font-weight: $act-font-weight__semibold;
}
p,
.act-p {
	font-size: $act-font-size__desktop-p;
	font-weight: $act-font-weight__regular;
}
