/* Font Values */

/* Import Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Variables */
$montserrat: 'Montserrat', sans-serif;

$act-font-size__desktop-h1: 48px;
$act-font-size__desktop-h2: 40px;
$act-font-size__desktop-h3: 32px;
$act-font-size__desktop-h4: 24px;
$act-font-size__desktop-h5: 20px;
$act-font-size__desktop-h6: 16px;
$act-font-size__desktop-p: 16px;
$act-font-size__desktop-p-large: 20px;
$act-font-size__desktop-p-small: 14px;

$act-font-weight__regular: 400;
$act-font-weight__semibold: 600;
$act-font-weight__bold: 700;

$act-line-height__150: 150%;
$act-line-height__140: 140%;
$act-line-height__130: 130%;
$act-line-height__120: 120%;
$act-line-height__110: 110%;
$act-line-height__100: 100%;
