/* Spacing Values */

$act-page-full-width: 100%;
$act-page-max-width: 1248px;

$act-space: (
	"desktop-0": 4px,
	"desktop-1": 8px,
	"desktop-2": 16px,
	"desktop-3": 24px,
	"desktop-4": 32px,
	"desktop-5": 48px,
	"desktop-6": 64px,
	"desktop-7": 80px,
	"desktop-8": 124px,
);
