.act-footer-aoc {
	&__title {
		display: flex;
		flex-direction: row;
		i {
			background-color: $act-colour__white;
			display: block;
			height: map-get($act-space, "desktop-4");
			max-height: map-get($act-space, "desktop-4");
			max-width: map-get($act-space, "desktop-4");
			min-height: map-get($act-space, "desktop-4");
			min-width: map-get($act-space, "desktop-4");
			margin-right:  map-get($act-space, "desktop-2");
			width: map-get($act-space, "desktop-4");
		}
	}
	&__body {
		margin-top: map-get($act-space, "desktop-2");
	}
}
