.act-alert-inpage {
	background-color: $act-colour__purple;
	display: flex;
	flex-shrink: 1;
	padding: map-get($act-space, "desktop-1");
	&--success {
		background-color: $act-colour__green;
		color: $act-colour__white;
	}
	&--warning {
		background-color: $act-colour__yellow;
		color: $act-colour__black;
	}
	&--error {
		background-color: $act-colour__red;
		color: $act-colour__white;
	}
}
