/* Design Token Import */
@import "../../../src/_core/_tokens.scss";

/* Core Style Import */
@import "../../../src/_core/_reset.scss";
@import "../../../src/_core/_flex.scss";
@import "../../../src/_core/_typography.scss";

/* Component Style Import */
@import "../../../src/4-components/a1-accordion/a11-accordion/style.scss";
@import "../../../src/4-components/a2-alerts/a21-alert-global/style.scss";
@import "../../../src/4-components/a2-alerts/a22-alert-inpage/style.scss";
@import "../../../src/4-components/b1-buttons/b11-button-main/style.scss";
@import "../../../src/4-components/f1-footers/f11-footer-main/style.scss";
@import "../../../src/4-components/f1-footers/f12-footer-aoc/style.scss";
@import "../../../src/4-components/l2-logos/l21-logo-primary/style.scss";
@import "../../../src/4-components/w1-wayfinding/w11-masthead/style.scss";
@import "../../../src/4-components/w1-wayfinding/w12-navbar/style.scss";
@import "../../../src/4-components/w1-wayfinding/w16-breadcrumbs/style.scss";

/* Documentation Styling */
#docs-root {
	margin-bottom: 200px;
	.sbdocs {
		&-content {
			max-width: $act-page-max-width;
		}
		table {
			width: $act-page-full-width;
		}
	}
}
